<form class="mt-5" method="post" action="/add">
  <div class="mb-3">
    <label for="nama" class="form-label">Nama</label>
    <input type="text" class="form-control" name="nama" id="nama" aria-describedby="emailHelp" />
  </div>
  <div class="mb-3">
    <label for="noHP" class="form-label">Nomor Telepon</label>
    <input type="number" class="form-control" name="noHP" id="noHP" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="email" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
